<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookFace😵</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
<link rel="stylesheet" href="style.css">
  </head>
  <body>
<center>
<h1> Welcome to BookFace; a safe space for funny faces!</h1>
<img src="https://previews.123rf.com/images/rawpixel/rawpixel1705/rawpixel170551240/78671351-collection-of-funny-face-people-collage.jpg" alt="collage of funny faces with people from different ages and backgrounds" width="500px"/>

<p> ⬇Click below to sign in⬇</p>
<a href="form.html"> Yo!</a>
</center>
  </body>
</html>